*{
    font-family: 'Open Sans', sans-serif;
    font-size: large;
}
section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
h1{
    text-align: center;
    font-size: 2em;
    margin-bottom: 4vh;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(208, 206, 206);
    width: 70vw;
    padding: 4vh 1vw;
}
.input-container {
    display: flex;
    width:65vw;
    margin-bottom: 15px;
}
form input{
    width:65vw ; 
}
.input-container .fa-solid{
    border-style: solid;
    border-color: #19A3BA;
    color: white;
    background-color: #19A3BA;
    padding: 8px;
    margin:0;
}
#plac::placeholder {
    padding-left: 10px;
}
form button {
    width: 65vw;
    padding: 8px;
    color: white;
    background-color: #19A3BA;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form button:hover{
    background-color: #2f8a9a;
}
.buttonRegion{
    display: flex;
    justify-content: space-between;
    width: 72vw;
}
.buttonRegion button{
    width: 22vw;
    padding: 8px;
    color: white;
    background-color: #19A3BA;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.buttonRegion button:hover{
    background-color: #2f8a9a;
    width: 12vw;
}
.ToDoListRegion{
    width: 72vw;
    margin-top: 10vh;   
}
.ToDoListRegion > div{
    border-style: solid;
    border-color: rgb(233, 228, 228);
    padding: 5px 15px;
}
p{
    width: 60vw;
    display: inline-block;
}
.icons{
    display: inline-block;  
}
input[type="checkbox"] {
    height: 15px;
    width: 20px;
    accent-color: white;
}
.fa-solid{
    color : #F6C40B;
    margin: 0 10px;
}
.fas{
    color: #e01f39;
    margin: 0 10px;
}
.deleteRegion{
    display: flex;
    justify-content: space-between;
    width: 72vw;
    margin-top: 5vh;
}
.deleteRegion button{
    width: 35vw;
    padding: 8px;
    color: white;
    background-color: #e01f39;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.deleteRegion button:hover{
    background-color: #e4475c;
    width: 12vw;
}
 
  .popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  
  .popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .close {
    position: absolute;
    top: 230px;
    right: 600px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  
  
  